{% extends "content.html" %}{% load staticfiles sitetree thumbnail %}

{% block inner__title %}{% endblock %}

{% block inner__content %}
  <div class="article">
    <h1 class="article__title">{{ article.title }}</h1>
    {% if article.subtitle %}
      <h2 class="article__subtitle">{{ article.subtitle }}</h2>
    {% endif %}
    <div class="article__content">
      {% if article.show_image %}
        {% thumbnail article.get_image 320x240 crop as thumb %}
        <div class="article__image"><img src="{{ thumb.url }}" alt="{{ article.title }}"></div>
      {% endif %}
      {{ article.text|safe }}
    </div>
    {% if article.create_date or article.icons_group %}
    <div class="article__footer">
      {% if article.show_date %}
        <span class="article__publish-date">{{ article.create_date | date:"d.m.Y" }}</span>
      {% endif %}
      {% if article.icons_group %}
        <div class="social social--orange{% if article.show_date %} right{% endif %}">
          {% for icon in article.icons_group.get_icons %}
            {% if icon.url %}
              <a href="" class="social__item"><span class="icon icon-{{ icon.icons }}"></span></a>
            {% else %}
              <span class="social__item"><span class="icon icon-{{ icon.icons }}"></span></span>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
{% endblock %}


