{% load staticfiles sitetree meta %}
<!DOCTYPE html>
<html class="js page" lang="en">
<head>
  {% block meta %}{% endblock %}
  {% include 'blocks/page_head.html' %}
</head>

<body class="layout">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.10&appId=1923175264606977";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="layout__row">
  {% include 'blocks/page_header.html' %}
</div>
<div class="layout__row layout__row_total layout">
  {% block inner %}{% endblock %}
</div>
<div class="layout__row">
  {% include 'blocks/page_footer.html' %}
</div>
{% include 'blocks/page_bottom.html' %}
{% block javascript %}{% endblock %}
</body>
</html>
