{% extends "base.html" %}{% load staticfiles sitetree %}

{% block inner %}
  <div class="page__line">
    <div class="central">
      {% block breadcrumbs %}
        {% sitetree_breadcrumbs from "header_top_nav" template "navigate/breadcrumbs.html" %}
      {% endblock %}
    </div>
  </div>
  <div class="page__line page__line--blue page__line--content layout__row layout__row_total">
    <div class="central {% block central--mod %}{% endblock %}">
      {% block inner__title %}
        <h1 class="page__title page__title--hollow-side heading text-color-orange">Page Title</h1>
      {% endblock %}
      {% block inner__content %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      {% endblock %}
    </div>
  </div>
{% endblock %}
