{% extends 'base.html' %}{% load thumbnail %}
{% load staticfiles %}
{% block inner %}
  {% if slider %}
    <div class="page__line">
      <div class="central central--hollow">
        <div class="slick-slider slick-slider--offer">
          {% for slide in slider.get_slides %}
            <div class="slide">
              <div class="slide__content">
                {% if slide.title %}
                  <div class="slide__title">{{ slide.title }}</div>
                {% endif %}
                {% if slide.text %}
                  <div class="slide__text">{{ slide.text }}</div>
                {% endif %}
              </div>
              {% thumbnail slide.image 960x405 crop as thumb %}
              <img src="{{ thumb.url }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="page__line page__line--orange">
    <div class="central">
      {% include 'article/article_include.html' with article_mod="article--white" social_mod="social--white" %}
    </div>
  </div>
  <div class="page__line page__line--white page__line--bgi-shiva">
    <div class="central">
      {% for list_icon in list_icons %}
        {% if not forloop.counter|divisibleby:"2" %}<div class="grid grid--with-gutter grid--justify">{% endif %}
          <div class="grid__cell grid__cell--sm-6 grid__cell--lg-4">
            <div>
              <div class="heading {% if list_icon.color %}text-color-{{ list_icon.color }}{% endif %}{% if forloop.counter|divisibleby:"2" %} text-right-lg{% endif %}">
                <span class="icon icon-2x icon-{{ list_icon.icon }}{% if forloop.counter|divisibleby:"2" %} right-lg{% endif %}"></span>&ensp;&nbsp;{{ list_icon.title }}&ensp;&nbsp;
              </div>
              <div class="spacer"></div>
              <p class="text-left{% if forloop.counter|divisibleby:"2" %} text-right-lg{% endif %}">{{ list_icon.text }}</p>
            </div>
          </div>
        {% if forloop.counter|divisibleby:"2" %}</div>{% endif %}
      {% endfor %}
      <div class="text-center">
        <a href="" class="btn btn--green">Booking</a>
      </div>
    </div>
  </div>
  <div class="page__line page__line--gray-light">
    <div class="central">
      <div class="grid grid--with-gutter grid--middle grid--justify">
        <div class="grid__cell grid__cell--md-auto">
          <div class="heading text-color-orange text-center text-left-md">
            {% if yoga_alliance.url %}
              <a href="{{ yoga_alliance.url }}">{{ yoga_alliance.text }}</a>
            {% else %}
              {{ yoga_alliance.text }}
            {% endif %}
          </div>
        </div>
        <div class="spacer hide-md"></div>
        <div class="grid__cell grid__cell--md-auto">
          <div class="grid grid--with-gutter-mini grid--center">
            {% for image_obj in yoga_alliance.get_images %}
              <div class="grid__cell grid__cell--auto">
                <img src="{{ image_obj.image.url }}" width="80px" height="80px" alt="">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if testimonials %}
    <div class="page__line page__line--green page__line--bgi-testimonials">
      <div class="central">
        <div class="heading text-center text-color-white">Testimonials</div>
        <div class="spacer"></div>
        <div class="slick-slider slick-slider--testimonials">
          {% for testimonial in testimonials %}
            <div>
              <div class="grid grid--with-gutter">
                <div class="grid__cell grid__cell--sm-8 grid__cell--lg-6">
                  <div class="comment-cloud text-color-white text-justify">{{ testimonial.text|safe }}</div>
                </div>
                <div class="grid__cell grid__cell--sm-4 grid__cell--lg-6">
                  <div class="spacer"></div>
                  <div class="heading heading--medium text-color-white">{{ testimonial.title }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="page__line page__line--white">
    <div class="central">
      <div class="grid grid--with-gutter grid--middle grid--justify">
        <div class="grid__cell grid__cell--md-auto">
          <div class="heading text-color-green text-center text-left-md">
            {% if payment_methods.url %}
              <a href="{{ payment_methods.url }}">{{ payment_methods.text }}</a>
            {% else %}
              {{ payment_methods.text }}
            {% endif %}
          </div>
        </div>
        <div class="spacer hide-md"></div>
        <div class="grid__cell grid__cell--md-auto">
          <div class="grid grid--with-gutter-mini grid--center grid--middle">
            {% for image_obj in payment_methods.get_images %}
              <div class="grid__cell grid__cell--6 grid__cell--xs-auto">
                <div class="text-center"><img src="{{ image_obj.image.url }}"></div>
              </div>
              {% if forloop.counter == 2%}
                <div class="spacer hide-xs"></div>
              {% endif %}
              {% if forloop.counter == 4%}
                <div class="spacer hide-sm"></div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}