{% load staticfiles %}
<div class="page__line page__line--header-top">
  <nav class="main-nav central central--hollow" role="navigation">
    <div class="main-nav__toggler">
      <div class="burger burger--white"><span></span></div>
    </div>
    <ul class="main-nav__list">
      <li class="main-nav__item  main-nav__item--active">
        <a href="" class="main-nav__link">Company</a>
        <div class="main-nav__lvl  main-nav__lvl--2">
          <ul class="main-nav__list  main-nav__list--lvl-2">
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="" class="main-nav__link  main-nav__link--lvl-2">About us</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="" class="main-nav__link  main-nav__link--lvl-2">Our Team</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="" class="main-nav__link  main-nav__link--lvl-2">Our Certificates</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="" class="main-nav__link  main-nav__link--lvl-2">Testimonials</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="" class="main-nav__link  main-nav__link--lvl-2">Contact</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Gallery</a>
        <div class="main-nav__lvl  main-nav__lvl--2">
          <ul class="main-nav__list  main-nav__list--lvl-2">
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="" class="main-nav__link  main-nav__link--lvl-2">Photo Gallery</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="" class="main-nav__link  main-nav__link--lvl-2">Video Gallery</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">News / Life Journal</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Free time</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Accomodation</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Donation</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">FAQ</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Pages</a>
        <div class="main-nav__lvl  main-nav__lvl--2">
          <ul class="main-nav__list  main-nav__list--lvl-2">
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="video.html" class="main-nav__link  main-nav__link--lvl-2">video</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="testimonials.html" class="main-nav__link  main-nav__link--lvl-2">testimonials</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="resources.html" class="main-nav__link  main-nav__link--lvl-2">resources</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="photo-gallery-our-team.html"
                 class="main-nav__link  main-nav__link--lvl-2">photo-gallery-our-team</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="photo-gallery.html" class="main-nav__link  main-nav__link--lvl-2">photo-gallery</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="our-team.html" class="main-nav__link  main-nav__link--lvl-2">our-team</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="news-list.html" class="main-nav__link  main-nav__link--lvl-2">news-list</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="news.html" class="main-nav__link  main-nav__link--lvl-2">news</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="natasha.html" class="main-nav__link  main-nav__link--lvl-2">natasha</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="drop-classes.html" class="main-nav__link  main-nav__link--lvl-2">drop-classes</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="donation.html" class="main-nav__link  main-nav__link--lvl-2">donation</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="contacts.html" class="main-nav__link  main-nav__link--lvl-2">contacts</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="certificates.html" class="main-nav__link  main-nav__link--lvl-2">certificates</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="about.html" class="main-nav__link  main-nav__link--lvl-2">about</a>
            </li>
            <li class="main-nav__item  main-nav__item--lvl-2">
              <a href="faq.html" class="main-nav__link  main-nav__link--lvl-2">faq</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>
<div class="page__line page__line--header-middle">
  <a href="/" class="logo">
    <img src="{% static 'img/logo.svg' %}" alt="logo" width="200px" height="160px" class="logo__img">
  </a>
</div>
<div class="page__line page__line--header-bottom">
  <nav class="main-nav main-nav--header-bottom central central--hollow" role="navigation">
    <div class="main-nav__toggler">
      <div class="burger burger--white"><span></span></div>
    </div>
    <ul class="main-nav__list">
      <li class="main-nav__item  main-nav__item--active">
        <a href="" class="main-nav__link">Yoga</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Ayurveda</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Astrology & Vastu</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Retreat</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">On-line Courses</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Check-up of Aura</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Projects</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Drop Classes</a>
      </li>
      <li class="main-nav__item">
        <a href="" class="main-nav__link">Resources</a>
      </li>
    </ul>
  </nav>
</div>
