{% load staticfiles %}
<footer class="page__line page__line--footer">
    <div class="central">
        <div class="grid grid--with-gutter grid--justify">
            <div class="grid__cell grid__cell--xs-8 grid__cell--md-2-5">
              <div class="grid grid--with-gutter">
                <div class="grid__cell grid__cell--6">
                  <div class="menu menu--white">
                    <div class="menu__item"><a href="" class="menu__link">About us</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Our Team</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Our Certificates</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Testimonials</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Contact</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Free time  </a></div>
                  </div>
                </div>
                <div class="grid__cell grid__cell--6">
                  <div class="menu menu--white text-right text-left-lg">
                    <div class="menu__item"><a href="" class="menu__link">News/Life Journal</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Accomodation</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Photo Gallery</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Video Gallery</a></div>
                    <div class="menu__item"><a href="" class="menu__link">Donation</a></div>
                    <div class="menu__item"><a href="" class="menu__link">FAQ</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid__cell grid__cell--xs-4 grid__cell--md-auto">
              <div class="text-center">
                <a href="/" class="logo">
                  <img class="logo__image" src="{% static 'img/logo_white.svg' %}" width="160px" height="128px" alt="logo">
                </a>
              </div>
            </div>
            <div class="grid__cell grid__cell--md-auto">
              <div class="spacer hide-md"></div>
              <div class="text-center text-right-lg text-color-white">Vedansha © {% now 'Y' %}. All Rights Reserved</div>
            </div>
        </div>
    </div>
    <div class="social social--footer social--white social--circle">
        <a href="" class="social__item"><span class="icon icon-vimeo"></span></a>
        <a href="" class="social__item"><span class="icon icon-twitter"></span></a>
        <a href="" class="social__item"><span class="icon icon-tumblr"></span></a>
        <a href="" class="social__item"><span class="icon icon-skype"></span></a>
        <a href="" class="social__item"><span class="icon icon-linkedin"></span></a>
        <a href="" class="social__item"><span class="icon icon-google-plus"></span></a>
        <a href="" class="social__item"><span class="icon icon-facebook"></span></a>
    </div>
</footer>
