{% extends "content.html" %}{% load staticfiles sitetree %}

{% block inner__title %}{% endblock %}

{% block inner__content %}
  <div class="grid grid--with-gutter grid--with-gutter-mini">
    <div class="grid__cell grid__cell--md-6">
      {% include 'article/article_include.html' %}
    </div>
    <div class="grid__cell grid__cell--md-6">
      <div class="spacer spacer--3x"></div>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="form box box--white">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="NQ8DBL7RXZ3E2">
        <label class="field-text">
          <span class="field-text__name">Purspose of donation</span>
          <span class="field-text__input-wrap">
            <input type="hidden" name="on0" value="Purspose of donation">
            <input class="field-text__input" type="text" name="os0" maxlength="200">
          </span>
        </label>
        <div class="field-actions text-right">
          <button type="submit" title="PayPal – The safer, easier way to pay online!" class="btn btn--expand-xs btn--auto-md btn--underline btn--green"><span class="icon icon-paypal">&ensp;</span>Donation</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

