<table bgcolor="#fafafa" border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; line-height: 1.65; font-family: Helvetica, Arial, sans-serif;" width="100%">
  <tr>
    <td style="padding: 32px">
      <table bgcolor="white" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; padding: 0; max-width: 600px;" width="100%">
        <tr>
          <td align="center" style="padding: 32px;background: #70c050;color: white;">
            <h1 style="font-size: 32px; text-transform: uppercase; margin:0;">{% block form_title %}{% endblock %}</h1>
          </td>
        </tr>
        <tr>
          <td style="padding: 32px;">
            {% block content %}{% endblock %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
