{% load sitetree %}
{% if sitetree_items %}
  <div class="main-nav__lvl">
    <ul class="main-nav__list">
      {% for item in sitetree_items %}
        <li class="main-nav__item">
          <a href="{% sitetree_url for item %}" class="main-nav__link" {% if item.hint %}title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a>
            {% if item.has_children %}
              {% sitetree_children of item for menu template "navigate/header_top_nav_level.html" %}
            {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}