{% load staticfiles meta %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include 'meta/meta.html' %}
<link href="{% static 'css/reset.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/style.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500&amp;subset=latin-ext" rel="stylesheet">
<script>
  document.addEventListener('DOMContentLoaded', function(){
    if (window.isMobile !== undefined) {
      // console.log(isMobile);
      if(isMobile.any) {
        var rootClasses = ' is-mobile';
        for (key in isMobile) {
          if(typeof isMobile[key] === 'boolean' && isMobile[key] && key !== 'any') rootClasses += ' is-mobile--'+key;
          if(typeof isMobile[key] === 'object' && key !== 'other') {
            for (type in isMobile[key]) {
              if(isMobile[key][type]) rootClasses += ' is-mobile--'+key+'-'+type;
            }
          }
        }
        document.documentElement.className += rootClasses;
      }
    }
    else {
      console.log('Классы для мобильных не добавлены: в сборке отсутствует isMobile.js');
    }
  });
</script>
{% if GA %}
  {% include 'blocks/GA.html' %}
{% endif %}
